.page__aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    

    & .aside__title{
        margin-bottom: 15px;
        margin-top: 15px;
        font-family: "Helvetica";
        font-size: 20px;
        color: #4cd3c2;
        text-align: center;
        text-transform: uppercase;
        @media all and (max-width:768px){
            font-size: 15px;
          }
    }

    & .aside__list{
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;

        & li{
            width: 100%;
            margin-top: 10px;
            margin-bottom: 10px;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-around;
            align-items: center;

            & p{
                width: 33%;
                text-transform: uppercase;
                font-size: 18px;
                color: #f54291;
                @media all and (max-width:768px){
                    font-size: 12px;
                }
                
            }


            & img{
                width: 33%;
            }
            & button{
                width: 20px;
                padding: 0;
                height: 20px;
                border-radius: 100%;
                background-color: #0a97b0;
                color: white;
                text-transform: lowercase;
                border: none;
                text-align: center;
                @media all and (max-width:768px){
                    width: 14px;
                    height: 14px;
                    font-size: 8px;
                }
            }
        }

        & button{
            padding: 10px;
            border-radius: 25%;
            border: none;
            text-transform: uppercase;
            background-color: #0a97b0;
            color: white;

        }
    }
}