.page__aside{
    
    display: flex;
    flex-direction: column;
    

    & .aside__title{
        margin-bottom: 15px;
        margin-top: 15px;
        font-family: $font-main;
        font-size: 20px;
        color: aquamarine;
    }

    & .aside__list{
        list-style: none;

        & li{
            font-size: 20px;
            color: brown;


            & img{
                width: 60%;
            }
            & button{
                width: 15px;
                padding: 2px;
                border-radius: 100%;
                background-color: black;
                color: white;
                text-transform: lowercase;
            }
        }
    }
}